.container-fluid{
    padding-left:  0  ! important;
    padding-right: 0  !important;
}






 h1 {
    color: red;
    font-size: 45px !important;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
}







/********************Header***************/



.wrap {
    position:relative;
    width:980px;
    height: 80px; 
    color:white ;
    margin: 0 ;
    padding-top: 10px ;
}






#header {
    margin:0;
    padding:0; 
    min-height: 100px;
    background-color: black; 
    width: 100%;
}



.header-right{
    float: right ;
    color: white;
}

.header-right>b>h6{
   background-color:red;
    font-size: 19px;
    text-align: center;
}
.header-right>b>p{
   background-color:black;
    font-size: 16px;
    text-align: right;
}


.col-4{
    margin-top: 15px !important;
}


/********************Header***************/




/*********************navbar***************/


.nav-item:hover {
    background-color: red;
    
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

}

.nav-link{
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: white!important;
}

.nav-link:hover{
   padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: whitesmoke !important;
    font-size: 17px;
    font-weight: bold;
}


.dropdown-menu{
    padding: 0 !important;
}


.btn-danger{
    background-color: #ff0000 !important;
    border: solid black !important;
}




.nav-link1{

    color: white!important;
    background-color: black !important ;
     padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.nav-link1:hover{
   padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: whitesmoke !important;
    font-size: 17px;
    font-weight: bold;
    background-color: red !important;
}



hr{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 1px solid white !important;
}

/*********************navbar***************/





#id_div {
   width:100%; /*width of your image*/
   height:400px; /*height of your image*/
   background-image:url("../images/clim%20(1).png");
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
               background-color: white;
    
    background-attachment: fixed;
background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
      
}



#hedhi{
  position:absolute;
   z-index:100; 
    margin: auto;
    min-width: 420px;
    text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
    padding: 20px;
}



@font-face {
  font-family: MyWebFont;
 
  src:    url('GelderSans ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
     
}


#hedhi>h3{
  
    color: red;
background-color:rgba(0, 0, 255, 0);
  font-family:MyWebFont;
    font-weight: bolder;
    font-size: 36px;
    
}

#hedhi>h6{
   opacity: 0.85;
    color: white;
background-color:rgba(0, 0, 255, 0);
    font-family:MyWebFont ;
      font-size: 25px;
}

.responsive {
  width: 100%;
  height: auto;
}














.lkol{
       padding-top: 30px !important;
    padding-bottom: 30px;
      background-image: url(https://cdn.pixabay.com/photo/2015/05/31/11/24/tap-791172_960_720.jpg);
           background-color: white;
background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
      background-attachment: fixed;
    height: 100%;

}


.bg-c{
  background-color:  rgba(1,1,1,0.3) !important;
    margin-left: 10% ;
    margin-right: 10% ;
   border-radius: 50px;
       color: white !important;
}






/*******************footer******************************/

.i-footer{
    color: red;
    font-size: 20px;
}

.i-footer:hover{
    color:white;
    font-size: 25px;
}





.unique-color-dark{
    background-color: black;
    color: white;
}




.page-footer a{
    color: white;
}

.page-footer a:hover{
    color: red;
}




